*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
BlogApi/[Dd]ebug/
BlogApi/[Dd]ebugPublic/
BlogApi/[Rr]elease/
BlogApi/[Rr]eleases/
BlogApi/x64/
BlogApi/x86/
BlogApi/build/
BlogApi/bld/
BlogApi/[Bb]in/
BlogApi/[Oo]bj/
BlogApi/[Oo]ut/
BlogApi/msbuild.log
BlogApi/msbuild.err
BlogApi/msbuild.wrn

# BlogApp
BlogApp/node_modules/

# Visual Studio 2015
.vs/

